* {
  margin: 0;
  padding: 0;
}

/* Dialog 对话框
------------------------------- */
.el-overlay {
  overflow: hidden;
  .el-overlay-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    position: unset !important;
    width: 100%;
    height: 100%;
    .el-dialog {
      margin: 0 auto !important;
      position: absolute;
      padding: 0;
      .el-dialog__body {
        padding: 20px !important;
      }
    }
  }
}
.el-dialog__title {
  color: #fff !important;
}

.el-dialog__body {
  max-height: calc(100vh - 85px) !important;
  overflow-y: auto;
  overflow-x: auto;
}

.el-dialog__header {
  margin: 0;
  padding: 8px 0px 8px 8px;
  background: var(--el-color-primary);
}

.el-dialog__footer {
  padding: 10px;
}

.el-dialog__headerbtn {
  .el-dialog__close {
    color: #fff;
  }
}

.el-dialog__headerbtn:hover .el-dialog__close {
  color: var(--el-color-danger) !important;
}
